<h1 class="text-2xl font-bold mb-6">顧客編集</h1>
<%= render "form", customer: @customer %>
<div class="mt-4">
  <%= link_to "戻る", admin_customer_path(@customer), class: "text-blue-600 hover:underline" %>
</div>
