<h1 class="text-2xl font-bold mb-6">New Email Template</h1>
<%= render "form", email_template: @email_template %>
<div class="mt-4">
  <%= link_to "Back", admin_email_templates_path, class: "text-blue-600 hover:underline" %>
</div>
