<h1 class="text-2xl font-bold mb-6">New Price Master</h1>
<%= render "form", price_master: @price_master %>
<div class="mt-4">
  <%= link_to "Back", admin_price_masters_path, class: "text-blue-600 hover:underline" %>
</div>
